In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

In [2]:
dataset = pd.read_csv('multisat.csv')

In [3]:
dataset

     SAT   GPA  Rand 1,2,3
0   1714  2.40           1
1   1664  2.52           3
2   1760  2.54           3
3   1685  2.74           3
4   1693  2.83           2
..   ...   ...         ...
79  1936  3.71           3
80  1810  3.71           1
81  1987  3.73           3
82  1962  3.76           1
83  2050  3.81           2

[84 rows x 3 columns]

In [4]:
x = dataset[['SAT','Rand 1,2,3']]

In [5]:
x

     SAT  Rand 1,2,3
0   1714           1
1   1664           3
2   1760           3
3   1685           3
4   1693           2
..   ...         ...
79  1936           3
80  1810           1
81  1987           3
82  1962           1
83  2050           2

[84 rows x 2 columns]

In [6]:
y = dataset['GPA']

In [7]:
y

0     2.40
1     2.52
2     2.54
3     2.74
4     2.83
      ...
79    3.71
80    3.71
81    3.73
82    3.76
83    3.81
Name: GPA, Length: 84, dtype: float64

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model = LinearRegression()

In [10]:
model.fit(x,y)

LinearRegression()

In [11]:
model.intercept_

0.29603261264909486

In [12]:
model.coef_

array([ 0.00165354, -0.00826982])

In [13]:
model.score(x,y)

0.40668119528142843